// preset colors
$clr-latios: #0d7dbf;
$clr-latias: #d41f33;

//
$clr-mega-light: #a7a8d6;
$clr-mega-dark: #817cb3;

$clr-bug: #aabb22;
$clr-dark: #775544;
$clr-dragon: #7766ee;
$clr-electric: #ffcc33;
$clr-fairy: #ffaaff;
$clr-fighting: #bb5544;
$clr-fire: #ff4422;
$clr-flying: #6699ff;
$clr-ghost: #6666bb;
$clr-grass: #77cc55;
$clr-ground: #ddbb55;
$clr-ice: #77ddff;
$clr-normal: #bbbbaa;
$clr-poison: #aa5599;
$clr-psychic: #ff5599;
$clr-rock: #bbaa66;
$clr-steel: #aaaabb;
$clr-water: #3399ff;

$clr-pikachu: yellow;
$clr-gengar: purple;
$clr-mimikyu: yellow;
$clr-eevee: brown;
$clr-mew: purple;

$clr-bg: transparent;

$clr-primary: $clr-latios;
$clr-secondary: $clr-latias;
$clr-info: #58999c;
$clr-success: #20bb66;
$clr-warning: #ffb62f;
$clr-danger: #ff0a00;

// poke color collection
$poke-clr-map: (
  default: $clr-latios,
  latios: $clr-latios,
  latias: $clr-latias,
  bug: $clr-bug,
  dark: $clr-dark,
  dragon: $clr-dragon,
  electirc: $clr-electric,
  fairy: $clr-fairy,
  fighting: $clr-fighting,
  fire: $clr-fire,
  flying: $clr-flying,
  ghost: $clr-ghost,
  grass: $clr-grass,
  ground: $clr-ground,
  ice: $clr-ice,
  normal: $clr-normal,
  poison: $clr-poison,
  psychic: $clr-psychic,
  rock: $clr-rock,
  steel: $clr-steel,
  water: $clr-water,
  primary: $clr-primary,
  secondary: $clr-secondary,
  info: $clr-info,
  success: $clr-success,
  waring: $clr-warning,
  danger: $clr-danger
);

// preset size
$sz-tiny: 10px;
$sz-small: 14px;
$sz-medium: 18px;
$sz-big: 24px;
$sz-large: 28px;
$sz-immense: 36px;

$box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$box-shadow-shallow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

// 下滑
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
// 淡入
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// 上滑
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
